@model Bieb.Domain.Entities.Book

<div class="card">
    <h1>@Html.DisplayFor(model => model.Title)</h1>

    @if (Model.Subtitle != null)
    { 
        <h2>@Html.DisplayFor(model => model.Subtitle)</h2>
    }

    <ul>
        @if (Model.Publisher != null || Model.Year != null || Model.Language != null)
        {
            <li>
                @BiebResources.BookStrings.Published: 
                @if (Model.Year != null)
                {
                    <span>@Model.Year,</span>
                }
                @if (Model.Publisher != null)
                {
                    <span>@Model.Publisher,</span>
                }
                @Model.Language
            </li>
        }
            
        @if (Model.Isbn != null)
        { 
            <li>@BiebResources.SharedStrings.Isbn: @Html.DisplayFor(model => model.Isbn)</li>
        }

        @if (Model.Tags.Any())
        { 
            <li>@BiebResources.SharedStrings.Tags: @string.Join(", ", Model.Tags)</li>
        }

        @if (Model.Series != null)
        {
            <li>@BiebResources.SharedStrings.Series: @Html.ActionLink(Model.Series.Title, "Details", new { id = Model.Series.Id, controller = "series" })</li>
        }
        
        @if (Model.Editors.Any())
        {
            <li>
                <h6>@BiebResources.SharedStrings.Editors</h6>
                <ul>
                    @foreach (var person in Model.Editors)
                    {
                        <li>
                            @Html.ActionLink(person.FullName, "Details", new { id = person.Id, controller = "People" })
                        </li>
                    }
                </ul>
            </li>
        }

        @if (Model.Authors.Any())
        {
            <li>
                <h6>@BiebResources.SharedStrings.Authors</h6>
                <ul>
                    @foreach (var person in Model.Authors)
                    {
                        <li>
                            @Html.ActionLink(person.FullName, "Details", new { id = person.Id, controller = "People" })
                        </li>
                    }
                </ul>
            </li>
        }

        @if (Model.Translators.Any())
        {
            <li>
                <h6>@BiebResources.SharedStrings.Translators</h6>
                <ul>
                    @foreach (var person in Model.Translators)
                    {
                        <li>
                            @Html.ActionLink(person.FullName, "Details", new { id = person.Id, controller = "People" })
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
</div>