@model Bieb.Web.Models.EditBookModel

@{
    ViewBag.Title = "Edit";
}

<h1>@Model.Title</h1>

@using (Html.BeginForm("Save", "Books")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-group">
        @Html.LabelFor(model => model.Title)
        @Html.EditorFor(model => model.Title)
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.Subtitle)
        @Html.EditorFor(model => model.Subtitle)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PublisherId)
        @Html.DropDownListFor(model => model.PublisherId, Model.AvailablePublishers, new { @class = "form-control fancy-select" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Year)
        @Html.EditorFor(model => model.Year)
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.Isbn)
        @Html.EditorFor(model => model.Isbn)
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.IsbnLanguage)
        @Html.EditorFor(model => model.IsbnLanguage)
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.LibraryStatus)
        @Html.DropDownListFor(model => model.LibraryStatus, new SelectList(Enum.GetValues(typeof(Bieb.Domain.Entities.LibraryStatus))), new { @class = "form-control fancy-select" })
    </div>
        
    <hr />
    
    <div class="form-group">
        <label>@BiebResources.BookStrings.Authors</label>
        @Html.ListBoxFor(model => model.AuthorIds, Model.AvailablePeople, new { @class = "form-control fancy-select" })
    </div>

    <div class="form-group">
        <label>@BiebResources.BookStrings.Translators</label>
        @Html.ListBoxFor(model => model.TranslatorIds, Model.AvailablePeople, new { @class = "form-control fancy-select" })
    </div>

    <div class="form-group">
        <label>@BiebResources.BookStrings.Editors</label>
        @Html.ListBoxFor(model => model.EditorIds, Model.AvailablePeople, new { @class = "form-control fancy-select" })
    </div>
        
    <hr />
        
    <h2>@BiebResources.BookStrings.Stories</h2>
    @Html.EditorFor(model => model.Stories)
        
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.ModifiedDateTicks)
        
    @Html.ValidationSummary()
        
    <input type="submit" value="@BiebResources.SharedStrings.Save" class="btn btn-default" />
}