@model PagedList.IPagedList<Bieb.Web.Models.Books.ViewBookModel>

@{
    ViewBag.Title = "All Books";
}


@if (User.Identity.IsAuthenticated)
{
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-form">
                <a href="@Url.Action("Create", "Books")" class="btn btn-default">
                    <i class="glyphicon glyphicon-star"></i>
                    <span class="hidden-xs">@BiebResources.SharedStrings.CreateNew</span>
                </a>
            </div>
        </div>
    </nav>
}

<p>@BiebResources.BookStrings.IndexIntroduction</p>

<table class="table table-bordered table-striped table-hover table-condensed single-topic-table">
    <tr>
        <th>
            @BiebResources.BookStrings.TypeHeader
        </th>
        <th>
            @BiebResources.BookStrings.TitleHeader
        </th>
        <th>
            @BiebResources.BookStrings.LanguageHeader
        </th>
        <th>
            @BiebResources.BookStrings.YearHeader
        </th>
        <th>
            @BiebResources.BookStrings.PeopleInvolved
        </th>
    </tr>
    <tbody>
        @Html.DisplayForModel()
    </tbody>
</table>

@{ Html.RenderPartial("PagerPartial", Model); }