@model Bieb.Domain.Entities.Book

<div class="card book">
    <h1>@Html.DisplayFor(model => model.Title)</h1>
    @if (Model.Subtitle != null)
    { 
        <h2>@Html.DisplayFor(model => model.Subtitle)</h2>
    }

    <ul>
        <li>
            @Html.DisplayFor(model => model.Year), @Html.DisplayFor(model => model.Language)
        </li>

        @if (Model.Editors.Count() > 0)
        {
            <li>Editors:<br />
            @foreach (var person in Model.Editors)
            {
                 @Html.ActionLink(person.FullName, "Details", new { id = person.Id, controller = "Person" })
                 <br />
            }
             </li>
        }

        @if (Model.Authors.Count() > 0)
        {
            <li>Authors:<br />
            @foreach (var person in Model.Authors)
            {
                 @Html.ActionLink(person.FullName, "Details", new { id = person.Id, controller = "Person" })
                 <br />
            }
             </li>
        }

        @if (Model.Isbn != null)
        { 
            <li>Isbn: @Html.DisplayFor(model => model.Isbn)</li>
        }

        @if (Model.Tags.Count() > 0)
        { 
            <li>Tags: @string.Join(", ", Model.Tags)</li>
        }

        @if (Model.Series != null)
        {
            <li>From: @Html.ActionLink(Model.Series.Title, "Details", new { id = Model.Series.Id, controller = "series" })</li>
        }
    </ul>
</div>