@model Bieb.Domain.Entities.Book

@{
    ViewBag.Title = "Details";
}

<h1>@Html.DisplayFor(model => model.Title)</h1>
@if (Model.Subtitle != null)
{ 
    <h2>@Html.DisplayFor(model => model.Subtitle)</h2>
}

<ul>
    <li>
        @Html.DisplayFor(model => model.Year), @Html.DisplayFor(model => model.Language)
    </li>

    @if (Model.Isbn != null)
    { 
        <li>Isbn: @Html.DisplayFor(model => model.Isbn)</li>
    }

    @if (Model.Tags.Count() > 0)
    { 
        <li>Tags: @string.Join(", ", Model.Tags)</li>
    }

    @if (Model.Series != null)
    {
        <li>From: @Html.DisplayFor(model => model.Series)</li>
    }
</li>


@if (Model.Authors.Count() > 0)
{
    <h3>Authors</h3>
    Html.RenderPartial("~/Views/Person/ItemList.cshtml", Model.Authors);
}
    
@if (Model.Editors.Count > 0)
{
    <h3>Editors</h3>
    Html.RenderPartial("~/Views/Person/ItemList.cshtml", Model.Editors);
}
    
@if (Model.Stories.Count > 0)
{
    <h3>Stories</h3>
    Html.RenderPartial("~/Views/Story/ItemList.cshtml", Model.Stories.Values);
}
    
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
