@model PagedList.IPagedList<Bieb.Domain.Entities.Book>

@{
    ViewBag.Title = "All Books";
}

<table class="listing">
    <tr>
        <th>
            Type
        </th>
        <th>
            Title
        </th>
        <th>
            Language
        </th>
        <th>
            Year
        </th>
        <th>
            Author / Editor
        </th>
    </tr>

@foreach (var book in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelbook => book.BookType)
        </td>
        <td>
            @Html.ActionLink(book.Title, "Details", new { id=book.Id })
        </td>
        <td>
            @Html.DisplayFor(modelbook => book.Language)
        </td>
        <td>
            @Html.DisplayFor(modelbook => book.Year)
        </td>
        <td>
            @if (book.BookType == Bieb.Domain.Entities.BookType.Novel) 
            {
                @string.Join(", ", book.Authors)
            }
            else
            {
                @string.Join(", ", book.Editors)
            }
        </td>
    </tr>
}
</table>

<div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount
     
    @if (Model.HasPreviousPage)
    {
        @Html.ActionLink("<<", "Index", new { pageNumber = 1 })
        @Html.Raw(" ");
        @Html.ActionLink("< Prev", "Index", new { pageNumber = Model.PageNumber - 1 })
    }
    else
    {
        @:<<
        @Html.Raw(" ");
        @:< Prev
    }
     
    @if (Model.HasNextPage)
    {
        @Html.ActionLink("Next >", "Index", new { pageNumber = Model.PageNumber + 1 })
        @Html.Raw(" ");
        @Html.ActionLink(">>", "Index", new { pageNumber = Model.PageCount })
    }
    else
    {
        @:Next >
        @Html.Raw(" ")
        @:>>
    }
</div>