@model IEnumerable<Bieb.Domain.Entities.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Type
        </th>
        <th>
            ISBN
        </th>
        <th>
            Title
        </th>
        <th>
            Language
        </th>
        <th>
            Year
        </th>
        <th>
            Publisher
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISBN)
        </td>
        <td>
            @Html.ActionLink(item.Title, "Details", new { id=item.Id })
            @if (item.SubTitle != null) { 
                <br />
                @Html.DisplayFor(modelItem => item.SubTitle)
            }
            @if (item.Editors.Count > 0) 
            { 
                <br /> <span>Edited By</span>
                     
                foreach (var editor in item.Editors) { 
                    <span>@Html.ActionLink(editor.ToString(), "Details", new { controller = "Person", id = editor.Id })</span>
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @if (item.Publisher != null) { @Html.ActionLink(item.Publisher.Name, "Details", new { controller = "Publisher", id = item.Publisher.Id }); }
        </td>
    </tr>
}

</table>
