@model Bieb.Web.Models.LocalPasswordModel

@* TODO: Localize the placeholder texts *@

<div class="account-form">
    <h4>Change password</h4>

    @using (Html.BeginForm("Manage", "Account"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <div class="row">
            <div class="form-group col-sm-6 col-md-4">
                @Html.PasswordFor(m => m.OldPassword, new { placeholder = "current password", @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6 col-md-4">
                @Html.PasswordFor(m => m.NewPassword, new { placeholder = "new password", @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6 col-md-4">
                @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "confirm new password", @class = "form-control" })
            </div>
        </div>

        <input type="submit" value="Change password" class="btn btn-default" />
    }
</div>
