@model Bieb.Web.Models.LocalPasswordModel

@* TODO: Localize the placeholder texts *@

<div class="account-form">
    <h4>Change password</h4>

    @using (Html.BeginForm("Manage", "Account"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <div class="change-password">
            <div class="old-password">
                @Html.PasswordFor(m => m.OldPassword, new { placeholder = "current password" })
            </div>
            <div class="new-password">
                @Html.PasswordFor(m => m.NewPassword, new { placeholder = "new password" })
            </div>
            <div class="confirm-password">
                @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "confirm new password" })
            </div>

            <input type="submit" value="Change password" />
        </div>
    }
</div>
