@model Bieb.Web.Models.RegisterModel

@{
    ViewBag.Title = BiebResources.AccountStrings.RegisterTitle;
}

@* TODO: Localize the placeholder texts *@

<div class="account-form">

    @using (Html.BeginForm("Register"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <h4>@BiebResources.AccountStrings.RegisterHeader</h4>
        
        <div class="row">
            <div class="form-group col-sm-6 col-md-4">
                @Html.TextBoxFor(m => m.NewUserName, new { placeholder = "username", @class = "form-control" })
            </div>
        </div>
        
        <div class="row">
            <div class="form-group col-sm-6 col-md-4">
                @Html.PasswordFor(m => m.NewPassword, new { placeholder = "password", @class = "form-control" })
            </div>
        </div>
        
        <div class="row">
            <div class="form-group col-sm-6 col-md-4">
                @Html.PasswordFor(m => m.ConfirmNewPassword, new { placeholder = "confirm password", @class = "form-control" })
            </div>
        </div>

        <input type="submit" value="Register" class="btn btn-default" />
    }
</div>