@model Bieb.Domain.Entities.Publisher

@{
    ViewBag.Title = Model.Name;
}

<h1>@Model.Name</h1>

@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink(BiebResources.SharedStrings.Edit, "Edit", new {Model.Id})
}

@if (Model.MyBooks.Any())
{
    <h4>@BiebResources.PublisherStrings.BooksFromThisPublisher</h4>
    Html.RenderPartial("~/Views/Books/ItemList.cshtml", Model.MyBooks);
}

@if (Model.Stories.Any())
{
    <h4>@BiebResources.PublisherStrings.StoriesFromThisPublisher</h4>
    Html.RenderPartial("~/Views/Stories/ItemList.cshtml", Model.Stories);
}

@if (Model.ReferenceBooks.Any())
{
    <h4>@BiebResources.PublisherStrings.ReferenceBooksFromThisPublisher</h4>
    Html.RenderPartial("~/Views/Books/ItemList.cshtml", Model.ReferenceBooks);
}