@model Bieb.Domain.Entities.Publisher

@{
    ViewBag.Title = Model.Name;
}

<h1>@Model.Name</h1>

@if (User.Identity.IsAuthenticated)
{
    <span class="edit-link">@Html.ActionLink("Edit", "Edit", new {Model.Id})</span>
}

@if (Model.LibraryBooks.Any())
{
    <section class="item-list">
        <h4>@BiebResources.PublisherStrings.BooksFromThisPublisher</h4>
        @{ Html.RenderPartial("~/Views/Books/ItemList.cshtml", Model.LibraryBooks); }
    </section>
}

@if (Model.Stories.Any())
{
    <section class="item-list">
        <h4>@BiebResources.PublisherStrings.StoriesFromThisPublisher</h4>
        @{ Html.RenderPartial("~/Views/Stories/ItemList.cshtml", Model.Stories); }
    </section>
}

@if (Model.ReferenceBooks.Any())
{
    <section class="item-list">
        <h4>@BiebResources.PublisherStrings.ReferenceBooksFromThisPublisher</h4>
        @{ Html.RenderPartial("~/Views/Books/ItemList.cshtml", Model.ReferenceBooks); }
    </section>
}