@model Bieb.Web.Models.EditPublisherModel

@{
    ViewBag.Title = "Edit";
}

<h1>@Model.Name</h1>

@using (Html.BeginForm("Save", "Publishers"))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)
    </div>

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.ModifiedDateTicks)

    @Html.ValidationSummary()

    <input type="submit" value="@BiebResources.SharedStrings.Save" class="btn btn-default" />
}