@model Bieb.Web.Models.EditPublisherModel

@{
    ViewBag.Title = "Edit";
}

<h1>@Model.Name</h1>

@using (Html.BeginForm("Save", "Publishers"))
{
    @Html.AntiForgeryToken()

    <div class="edit-form publisher">
        <section class="field-group">
            <div class="field-group-label">@BiebResources.PublisherStrings.Name</div>
            <div class="field">
                @Html.EditorFor(model => model.Name)
            </div>
        </section>
        
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ModifiedDateTicks)
        
        @Html.ValidationSummary()
        
        <div class="form-actions">
            <input type="submit" value="@BiebResources.SharedStrings.Save" />
        </div>

    </div>
}