@model Bieb.Domain.Entities.Person

<div class="personCard">
    <img src="" alt="☺" title="Person's portrait pica" class="portrait" />
    <h1>@Html.DisplayFor(model => model.FullName)</h1>

    <p>
        @Model.GenderChar
        @string.Join(", ", Model.Roles)
    </p>

    @if (Model.Nationality != null)
    {
        <p>@Model.Nationality.ToUpper()</p>
    }
        
    @if (Model.DateOfBirth != null || Model.PlaceOfBirth != null)
    {
        <p>
            Born:
            @Html.DisplayFor(model => model.DateOfBirth);
            @Html.DisplayFor(model => model.PlaceOfBirth);
        </p>
    }
        
    @if (Model.DateOfDeath != null || Model.PlaceOfDeath != null)
    {
        <p>
            Died:
            @Html.DisplayFor(model => model.DateOfDeath);
            @Html.DisplayFor(model => model.PlaceOfDeath);
        </p>
    }
        
    @if (Model.Tags.Count() > 0)
    { 
        <p>
            Tags:
            @string.Join(", ", Model.Tags)
        </p>
    }
</div>