@model Bieb.Domain.Entities.Person

@{
    ViewBag.Title = Model.FullName;
}

@{ Html.RenderPartial("Card", Model); }

<section class="reviews">
@foreach (var review in Model.Reviews)
{ 
    <p>@review.ReviewText</p>
}
</section> <!-- end .reviews -->

<section class="books">
    <p>@BiebResources.PersonStrings.WorksByTitleStart <span class="fullname">@Model.FullName</span> @BiebResources.PersonStrings.WorksByTitleEnd:</p>

    @if (Model.AuthoredNovels.Any())
    { 
        <section class="itemList authoredNovels">
            <h3>@BiebResources.SharedStrings.Novels</h3>
            @{ Html.RenderPartial("~/Views/Book/ItemList.cshtml", Model.AuthoredNovels); }
        </section> <!-- end .itemList .authoredNovels -->
    }

    @if (Model.EditedBooks.Count > 0)
    { 
        <section class="itemList editedBooks">
            <h3>@BiebResources.PersonStrings.EditedBooks</h3>
            @{ Html.RenderPartial("~/Views/Book/ItemList.cshtml", Model.EditedBooks); }
        </section> <!-- end .itemList .editedBooks -->
    }
    
    @if (Model.AuthoredCollections.Any())
    { 
        <section class="itemList authoredCollections">
            <h3>@BiebResources.PersonStrings.AuthoredCollections</h3>
            @{ Html.RenderPartial("~/Views/Book/ItemList.cshtml", Model.AuthoredCollections); }
        </section> <!-- end .itemList .authoredCollections -->
    }
</section> <!-- end .books -->

<section class="stories">
    @if (Model.TranslatedStories.Count > 0)
    { 
        <section class="itemList translatedStories">
            <h3>@BiebResources.PersonStrings.TranslatedStories</h3>
            @{ Html.RenderPartial("~/Views/Story/ItemList.cshtml", Model.TranslatedStories); }
        </section> <!-- end .itemList .translatedStories -->
    }
        
    @if (Model.AuthoredShortStories.Any())
    {
        // TODO: Split between short stories and novels
        <section class="itemList authoredShortStories">
            <h3>@BiebResources.PersonStrings.AuthoredShortStories</h3>
            @{ Html.RenderPartial("~/Views/Story/ItemList.cshtml", Model.AuthoredShortStories); }
        </section> <!-- end .itemList .authoredShortStories -->
    }
</section> <!-- end .stories -->