<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@BiebResources.SharedStrings.SiteTitleShort: @ViewBag.Title</title>
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.ico")" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @Styles.Render("~/Content/styles")
    @Styles.Render("~/Content/styles/select2")
</head>
<body class="container">
    
    <header>
        <nav class="row">
            <div class="col-xs-2">
                <a href="@Url.Action("Index", "Home")" class="@Html.GetCssClass("Home")">
                    <i class="glyphicon glyphicon-home"></i>
                    <span class="hidden-xs hidden-sm">@BiebResources.SharedStrings.HomeMenuItem</span>
                </a>
            </div>
            <div class="col-xs-2">
                <a href="@Url.Action("Index", "People")" class="@Html.GetCssClass("People")">
                    <i class="glyphicon glyphicon-user"></i>
                    <span class="hidden-xs hidden-sm">@BiebResources.SharedStrings.PeopleMenuItem</span>
                </a>
            </div>
            <div class="col-xs-2">
                <a href="@Url.Action("Index", "Books")" class="@Html.GetCssClass("Books")">
                    <i class="glyphicon glyphicon-book"></i>
                    <span class="hidden-xs hidden-sm">@BiebResources.SharedStrings.BooksMenuItem</span>
                </a>
            </div>
            <div class="col-xs-2">
                <a href="@Url.Action("Index", "Series")" class="@Html.GetCssClass("Series")">
                    <i class="glyphicon glyphicon-list "></i>
                    <span class="hidden-xs hidden-sm">@BiebResources.SharedStrings.SeriesMenuItem</span>
                </a>
            </div>
            <div class="col-xs-2">
                <a href="@Url.Action("Index", "Publishers")" class="@Html.GetCssClass("Publishers")">
                    <i class="glyphicon glyphicon-briefcase"></i>
                    <span class="hidden-xs hidden-sm">@BiebResources.SharedStrings.PublishersMenuItem</span>
                </a>
            </div>
            <div class="col-xs-2">
                <a href="@Url.Action("Index", "Surprise")" class="@Html.GetCssClass("Surprise")">
                    <i class="glyphicon glyphicon-gift"></i>
                    <span class="hidden-xs hidden-sm">@BiebResources.SharedStrings.SurpriseMeMenuItem</span>
                </a>
            </div>
        </nav>

        <div class="row">
            <div class="col-md-3 pull-right search-box">
                @Html.Partial("_SearchBoxPartial")
            </div>
        </div>
        
        <div class="title hidden-sm hidden-xs">
            @Html.ActionLink(BiebResources.SharedStrings.SiteTitleLong, "Index", "Home")
        </div>
    </header>

    @RenderBody()
    
    <hr />

    <footer class="row">
        <div class="col-md-8">
            <span>@Html.ActionLink(@BiebResources.SharedStrings.About, "About", "Home")</span>
            |
            <span>@Html.ActionLink(@BiebResources.SharedStrings.Disclaimer, "Disclaimer", "Home")</span>
            |
            <span>@Html.ActionLink(@BiebResources.SharedStrings.SiteMap, "SiteMap", "Home")</span>
            
            <span id="powered-by">@BiebResources.SharedStrings.PoweredBy <a href="http://bieb.codeplex.com" target="_blank">bieb.codeplex.com</a></span>
        </div>
        <div class="col-md-4">
            @Html.Partial("_LoginPartial")
        </div>
    </footer>
    
    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/bootstrap")
    @Scripts.Render("~/Scripts/jqueryplugins")
    @RenderSection("scripts", required: false)
    
    <script>
        $(document).ready(function () {
            $(".fancy-select").select2({
                containerCssClass: 'fancy-select-container',
                dropdownCssClass: 'fancy-select-dropdown'
            });
        });
    </script>
</body>
</html>
