<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.ico")" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
</head>
<body>
    
    <header>
        <div class="title">
            @Html.ActionLink(BiebResources.SharedStrings.SiteTitleLong, "Index", "Home")
        </div>
        <nav>
            <ul id="menu">
                <li>@Html.MenuLink("Home", "", "Home")</li>
                <li>@Html.MenuLink("People", "Index", "People")</li>
                <li>@Html.MenuLink("Books", "Index", "Books")</li>
                <li>@Html.MenuLink("Series", "Index", "Series")</li>
                <li>@Html.MenuLink("Publishers", "Index", "Publishers")</li>
                <li>@Html.MenuLink("Surprise me!", "Index", "Surprise")</li>
                <li id="search">@Html.Partial("_SearchBoxPartial")</li>
            </ul>
        </nav>
    </header>

    <div class="wrapper">
        <section id="main">
            @RenderBody()
        </section>
    </div>

    <footer>
        <p>
            <span>@BiebResources.SharedStrings.SiteTitleShort</span> @BiebResources.SharedStrings.SiteSlogan
            <span id="powered-by">@BiebResources.SharedStrings.PoweredBy <a href="http://bieb.codeplex.com" target="_blank">bieb.codeplex.com</a></span>
        </p>       
    </footer>
    
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
