<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.ico")" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @Styles.Render("~/Content/styles")
    @Styles.Render("~/Content/styles/select2")
</head>
<body class="container">
    
    <header>
        <nav class="row">
            <div class="col-xs-2">
                @Html.MenuLink(BiebResources.SharedStrings.HomeMenuItem, "", "Home")
            </div>
            <div class="col-xs-2">
                @Html.MenuLink(BiebResources.SharedStrings.PeopleMenuItem, "Index", "People")
            </div>
            <div class="col-xs-2">
                @Html.MenuLink(BiebResources.SharedStrings.BooksMenuItem, "Index", "Books")
            </div>
            <div class="col-xs-2">
                @Html.MenuLink(BiebResources.SharedStrings.SeriesMenuItem, "Index", "Series")
            </div>
            <div class="col-xs-2">
                @Html.MenuLink(BiebResources.SharedStrings.PublishersMenuItem, "Index", "Publishers")
            </div>
            <div class="col-xs-2">
                @Html.MenuLink(BiebResources.SharedStrings.SurpriseMeMenuItem, "Index", "Surprise")
            </div>
        </nav>

        <div class="pull-right col-md-4">
            <div class="row">
                @Html.Partial("_SearchBoxPartial")
            </div>
            <div class="row">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
        
        <div class="title hidden-sm hidden-xs">
            @Html.ActionLink(BiebResources.SharedStrings.SiteTitleLong, "Index", "Home")
        </div>
    </header>

    @RenderBody()
    
    <hr />

    <footer>
        <p>
            <span>@Html.ActionLink(@BiebResources.SharedStrings.About, "About", "Home")</span>
            |
            <span>@Html.ActionLink(@BiebResources.SharedStrings.Disclaimer, "Disclaimer", "Home")</span>
            |
            <span>@Html.ActionLink(@BiebResources.SharedStrings.SiteMap, "SiteMap", "Home")</span>
            
            <span id="powered-by">@BiebResources.SharedStrings.PoweredBy <a href="http://bieb.codeplex.com" target="_blank">bieb.codeplex.com</a></span>
        </p>
    </footer>
    
    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/bootstrap")
    @Scripts.Render("~/Scripts/jqueryplugins")
    @RenderSection("scripts", required: false)
    
    <script>
        $(document).ready(function () {
            $(".fancy-select").select2({
                containerCssClass: 'fancy-select-container',
                dropdownCssClass: 'fancy-select-dropdown'
            });
        });
    </script>
</body>
</html>
