<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@BiebResources.SharedStrings.SiteTitleShort: @ViewBag.Title</title>
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.ico")" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    @Styles.Render("~/MainStyles")

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
</head>
<body class="container">

    <header>
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
            @if (User.Identity.IsAuthenticated)
            {
                @Html.Partial("_NavigationAdminPartial")
            }
            else
            {
                @Html.Partial("_NavigationPartial")
            }
        </nav>

        <div class="row">
            <div class="col-md-3 pull-right">
                @Html.Partial("_SearchBoxPartial")
            </div>
        </div>

        <div class="title hidden-sm hidden-xs">
            @Html.ActionLink(BiebResources.SharedStrings.SiteTitleLong, "Index", "Home")
        </div>
    </header>

    @RenderBody()

    <hr />

    <footer class="row">
        <div class="col-md-8">
            <span>@Html.ActionLink(@BiebResources.SharedStrings.About, "About", "Home")</span>
            |
            <span>@Html.ActionLink(@BiebResources.SharedStrings.Disclaimer, "Disclaimer", "Home")</span>
            |
            <span>@Html.ActionLink(@BiebResources.SharedStrings.SiteMap, "SiteMap", "Home")</span>

            <span id="powered-by">@BiebResources.SharedStrings.PoweredBy <a href="http://bieb.codeplex.com" target="_blank">bieb.codeplex.com</a></span>
        </div>
        <div class="col-md-4">
            @Html.Partial("_LoginPartial")
        </div>
    </footer>



    <script>
        $(document).ready(function () {
            $(".fancy-select").select2();
        });
    </script>
</body>
</html>
