@model Bieb.Domain.Entities.Person

@{
    ViewBag.Title = Model.FullName;
}

@{ Html.RenderPartial("Card", Model); }

<section class="details">
    @if (Model.Reviews.Any())
    {
        <section class="reviews">
        @foreach (var review in Model.Reviews)
        { 
            <p>@review.ReviewText</p>
        }
        </section>
    }


    @if (Model.AuthoredNovels.Any() || Model.EditedBooks.Any() || Model.AuthoredCollections.Any() || Model.TranslatedNovels.Any())
    {
        <section class="books">
        @if (Model.AuthoredNovels.Any())
        { 
            <section class="item-list authoredNovels">
                <h4>@BiebResources.SharedStrings.Novels</h4>
                @{ Html.RenderPartial("~/Views/LibraryBooks/ItemList.cshtml", Model.AuthoredNovels); }
            </section>
        }

        @if (Model.EditedBooks.Count > 0)
        { 
            <section class="item-list editedBooks">
                <h4>@BiebResources.PeopleStrings.EditedBooks</h4>
                @{ Html.RenderPartial("~/Views/LibraryBooks/ItemList.cshtml", Model.EditedBooks); }
            </section>
        }
    
        @if (Model.AuthoredCollections.Any())
        { 
            <section class="item-list authoredCollections">
                <h4>@BiebResources.PeopleStrings.AuthoredCollections</h4>
                @{ Html.RenderPartial("~/Views/LibraryBooks/ItemList.cshtml", Model.AuthoredCollections); }
            </section>
        }
    
        @if (Model.TranslatedNovels.Any())
        { 
            <section class="item-list authoredCollections">
                <h4>@BiebResources.PeopleStrings.TranslatedNovels</h4>
                @{ Html.RenderPartial("~/Views/LibraryBooks/ItemList.cshtml", Model.TranslatedNovels); }
            </section>
        }
        </section>
    }

    @if(Model.TranslatedShortStories.Any() || Model.AuthoredShortStories.Any())
    {
        <section class="stories">
        @if (Model.TranslatedShortStories.Any())
        { 
            <section class="item-list translatedStories">
                <h4>@BiebResources.PeopleStrings.TranslatedShortStories</h4>
                @{ Html.RenderPartial("~/Views/Stories/ItemList.cshtml", Model.TranslatedShortStories); }
            </section>
        }
        
        @if (Model.AuthoredShortStories.Any())
        {
            // TODO: Split between short stories and novels
            <section class="item-list authoredShortStories">
                <h4>@BiebResources.PeopleStrings.AuthoredShortStories</h4>
                @{ Html.RenderPartial("~/Views/Stories/ItemList.cshtml", Model.AuthoredShortStories); }
            </section>
        }
        </section>
    }

    @{ Html.RenderPartial("MoreInfo", Model); }
</section>