@model Bieb.Web.Models.EditPersonModel

@{
    ViewBag.Title = "Edit";
}

<h1>@Model.FullName</h1>

@using (Html.BeginForm("Save", "People"))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label>@BiebResources.PeopleStrings.NameGroupLabel</label>
        <div class="row">
            <div class="col-sm-2">@Html.EditorFor(model => model.Title)</div>
            <div class="col-sm-4">@Html.EditorFor(model => model.FirstName)</div>
            <div class="col-sm-2">@Html.EditorFor(model => model.Prefix)</div>
            <div class="col-sm-4">@Html.EditorFor(model => model.Surname)</div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Gender)
        @Html.DropDownListFor(model => model.Gender, new SelectList(Enum.GetValues(typeof (Bieb.Domain.Entities.Gender))), new {@class = "form-control fancy-select"})
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Nationality)
        @Html.EditorFor(model => model.Nationality)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PlaceOfBirth)
        @Html.EditorFor(model => model.PlaceOfBirth)
    </div>
    <div class="form-group">
        <label>@BiebResources.PeopleStrings.BornOn</label>
        <div class="row">
            <div class="col-xs-3">@Html.EditorFor(model => model.BirthDay)</div>
            <div class="col-xs-3">@Html.EditorFor(model => model.BirthMonth)</div>
            <div class="col-xs-6">@Html.EditorFor(model => model.BirthYear)</div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PlaceOfDeath)
        @Html.EditorFor(model => model.PlaceOfDeath)
    </div>
    <div class="form-group">
        <label>@BiebResources.PeopleStrings.DiedOn</label>
        <div class="row">
            <div class="col-xs-3">@Html.EditorFor(model => model.DeathDay)</div>
            <div class="col-xs-3">@Html.EditorFor(model => model.DeathMonth)</div>
            <div class="col-xs-6">@Html.EditorFor(model => model.DeathYear)</div>
        </div>
    </div>

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.ModifiedDateTicks)

    @Html.ValidationSummary()

    <input type="submit" value="@BiebResources.SharedStrings.Save" class="btn btn-default" />
}