@model PagedList.IPagedList<Bieb.Domain.Entities.Person>

@{
    ViewBag.Title = "All People";
}

@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink(BiebResources.SharedStrings.CreateNew, "Create")
}

<p>@BiebResources.PeopleStrings.IndexIntroduction</p>

<table class="table table-bordered table-striped table-hover table-condensed">
    <tr>
        <th>
            <span class="hidden-xs hidden-sm">
                @BiebResources.PeopleStrings.Gender
            </span>
        </th>
        <th>
            <span class="hidden-xs hidden-sm">
                @BiebResources.PeopleStrings.NationalityHeader
            </span>
        </th>
        <th>
            @BiebResources.PeopleStrings.NameHeader
        </th>
        <th>
            @BiebResources.PeopleStrings.RolesHeader
        </th>
    </tr>

@foreach (var person in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelperson => person.GenderChar)
        </td>
        <td>
            @if (!string.IsNullOrWhiteSpace(person.Nationality))
            { 
                @Html.ImageFlagFor(person)
            }
        </td>
        <td class="main-column">
            @Html.ActionLink(person.FullName, "Details", new { id=person.Id })
        </td>
        <td> 
            @string.Join(", ", person.Roles)
        </td>
    </tr>
}

</table>

@{ Html.RenderPartial("PagerPartial", Model); }