@model Bieb.Web.Models.EditSeriesModel

@{
    ViewBag.Title = "Edit";
}

<h1>@Model.Title</h1>

@using (Html.BeginForm("Save", "Series"))
{
    @Html.AntiForgeryToken()

    <div class="edit-form series">
        <section class="field-group">
            <div class="field-group-label">@BiebResources.SeriesStrings.Title</div>
            <div class="field">
                @Html.EditorFor(model => model.Title)
            </div>
        </section>

        <section class="field-group">
            <div class="field-group-label">@BiebResources.SeriesStrings.Subtitle</div>
            <div class="field">
                @Html.EditorFor(model => model.Subtitle)
            </div>
        </section>

        <section class="field-group">
            <div class="field-group-label">@BiebResources.SeriesStrings.Books</div>
            <div class="field">
                @Html.ListBoxFor(model => model.BookIds, Model.AvailableBooks)
            </div>
        </section>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ModifiedDateTicks)

        @Html.ValidationSummary()
        
        <div class="form-actions">
            <input type="submit" value="@BiebResources.SharedStrings.Save" />
        </div>
    </div>
}