@model Bieb.Web.Models.EditSeriesModel

@{
    ViewBag.Title = "Edit";
}

<h1>@Model.Title</h1>

@using (Html.BeginForm("Save", "Series"))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Title)
        @Html.EditorFor(model => model.Title)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Subtitle)
        @Html.EditorFor(model => model.Subtitle)
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.BookIds)
        @Html.ListBoxFor(model => model.BookIds, Model.AvailableBooks, new {@class = "form-control fancy-select"})
    </div>

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.ModifiedDateTicks)

    @Html.ValidationSummary()

    <input type="submit" value="@BiebResources.SharedStrings.Save" class="btn btn-default" />
}
