@model PagedList.IPagedList<Bieb.Domain.Entities.Series>

@{
    ViewBag.Title = "All Series";
}

@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink(BiebResources.SharedStrings.CreateNew, "Create")
}

<p>@BiebResources.SeriesStrings.IndexIntroduction</p>

<table class="table table-bordered table-striped table-hover table-condensed">
    <tr>
        <th>
            @BiebResources.SeriesStrings.TitleHeader
        </th>
        <th>
            @BiebResources.SeriesStrings.BooksInThisSeries
        </th>
    </tr>

@foreach (var series in Model) {
    <tr>
        <td>
            @Html.ActionLink(series.Title, "Details", new { id=series.Id })
        </td>
        <td class="main-column">
            @string.Join(", ", series.Books.Values)
        </td>
    </tr>
}

</table>

@{ Html.RenderPartial("PagerPartial", Model); }