@model IEnumerable<Bieb.Domain.Entities.Story>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            SubTitle
        </th>
        <th>
            Book
        </th>
        <th>
            Publisher
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Title, "Details", new { id = item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubTitle)
        </td>
        <td>
            @Html.ActionLink(item.Book.Title, "Details", new { id = item.Book.Id, controller = "Book" })
        </td>
        <td>
            @if(item.Publisher != null) { @item.Publisher.Name }
        </td>
    </tr>
}

</table>
