@model IEnumerable<Bieb.Domain.Entities.Story>

<table>
    <tr>
        <th>@BiebResources.StoryStrings.TitleHeader</th>
        <th>@BiebResources.StoryStrings.ByHeader</th>
        <th>@BiebResources.StoryStrings.FromHeader</th>
    </tr>

@foreach (var story in Model) 
{
    <tr>
        <td>@Html.ActionLink(story.Title, "Details", new { controller = "Story", id = story.Id })</td>
        <td>
            @Html.Raw(String.Join(",<br /> ", story.Authors.Select(p => Html.ActionLink(p.FullName, "Details", new { controller = "Person", id = p.Id }).ToHtmlString()).ToArray()))
        </td>
        <td>
            @Html.ActionLink(story.Book.Title, "Details", new { controller = "Book", id = story.Book.Id })
            (@story.Book.BookType)
        </td>
    </tr>
}
</table>