@model Bieb.Web.Models.Search.BasicSearchResultModel

@{
    ViewBag.Title = "Search for \"" + Model.Query + "\"";
}

<h1>@BiebResources.SearchStrings.BasicSearchHeader</h1>
<section id="search-form">
    @Html.Partial("_SearchBoxPartial")
</section>

<div class="row">
    <section id="people" class="col-sm-4">
        <h2>@BiebResources.SharedStrings.People</h2>
        @if (Model.People.Any())
        { 
            <ul>
                @foreach (var person in Model.People)
                {
                    <li>
                        @Html.ActionLink(person.Text, "Details", new { controller = "People", id = person.Id })
                    </li>
                }
            </ul>
        } 
        else 
        {
            <p>-</p>
        }
    </section>

    <section id="books" class="col-sm-4">
        <h2>@BiebResources.SharedStrings.Books</h2>
        @if (Model.Books.Any())
        { 
            <ul>
                @foreach (var book in Model.Books)
                {
                    <li>
                        @Html.ActionLink(book.Text, "Details", new { controller = "Books", id = book.Id })
                    </li>
                }
            </ul>
        } 
        else 
        {
            <p>-</p>
        }
    </section>

    <section id="stories" class="col-sm-4">
        <h2>@BiebResources.SharedStrings.Stories</h2>
        @if (Model.Stories.Any())
        { 
            <ul>
                @foreach (var story in Model.Stories)
                {
                    <li>
                        @Html.ActionLink(story.Text, "Details", new { controller = "Stories", id = story.Id })
                    </li>
                }
            </ul>
        } 
        else 
        {
            <p>-</p>
        }
</section>
</div>